
.group-cards-activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.card-activity {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.5), -5px 0px 5px  rgba(204, 204, 204, 0.5) ;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
    height: 205px;
    width: 100%;
    border-radius: 20px;
}

.img-activity {
    object-fit: cover;
    height: 155px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

@media only screen and (min-width: 600px) {

    .group-cards-activities {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 25px;
    }

    .group-cards-activities-lot {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    .card-activity {
        margin: 0;
    }

    .card-activity-large {
        height: 205px;
        width: 30%;
        margin-right: auto;
    }

    .card-activity-medium-start {
        height: 205px;
        width: 45%;
        margin-right: auto;
        margin-left: auto;
    }

    .card-activity-small-end {
        height: 205px;
        width: 45%;
    }

    .card-activity-medium-end {
        height: 205px;
        width: 45%;
    }

    .card-activity-small-start {
        height: 205px;
        width: 45%;
        margin-right: auto;
        margin-left: auto;
    }
    
}

@media only screen and (min-width: 1400px) {

    .card-activity {
        margin: 0;
    }

    .group-cards-activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
    }

    .card-activity-large {
        margin-right: auto;
        height: 70%;
        width: 45%;
    }

    .group-cards-activities-lot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: auto;
        height: 70%;
        width: 40%;
    }

    .card-activity-medium-start {
        height: 55%;
        width: 100%;
    }

    .card-activity-small-end {
        height: 35%;
        width: 100%;
    }

    .card-activity-medium-end {
        height: 55%;
        width: 100%;
    }

    .card-activity-small-start {
        height: 35%;
        width: 100%;
    }

    .img-activity {
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; 
    }

    .img-activity-large {
        flex: 13;
        width: 100%;
    }

    .img-activity-medium {
        flex: 6;
        width: 100%;
    }

    .img-activity-small {
        flex: 4;
        width: 100%;
    }
}