/* --------------------------------------------------------
                        General Tools
-------------------------------------------------------- */

.flex-container-reservia{
    font-family: Raleway!important;
    margin: 0;
}

.container-block{
    display: flex;
    flex-direction: column;
    margin: 30px 20px 0px 20px;
}

/* --------------------------------------------------------
                        Research Part
-------------------------------------------------------- */

.position-items-search {
    padding: 20px 40px 0px 30px
}

/* --------------------------------------------------------
                        Popular Part
-------------------------------------------------------- */

/* Block responsive hosting (popular part + hosting part) */
.container-hosting-part {
    display: flex;
    flex-direction: column;
}
/* -------------------------------------------------------- */

.container-block-popular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 30px 20px 20px 20px;
}

.position-title-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.position-items-popular {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px; 
    width: 100%;
}

.position-popular-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0px 0px 5px;
}

.notations-popular {
    display: flex;
    font-size: 15px;
    margin: 0;
}

/* --------------------------------------------------------
                        Hosting Part
-------------------------------------------------------- */

.position-title-hosting {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.position-items-hosting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
    width: 100%;
}

.price-notations {
    font-size: 13px;
    padding-top: 2px;
    margin: 0;
}

/* --------------------------------------------------------
                        Activity Part
-------------------------------------------------------- */

.position-title-activity {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.position-items-activity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
    width: 100%;
}

/* --------------------------------------------------------
                        Footer Part
-------------------------------------------------------- */

.container-footer {
    background-color: #F2F2F2;
    height: 500px;
}

.position-items-footer {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
}

/* --------------------------------------------------------
                        Tools Style
-------------------------------------------------------- */

.title-style {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}

.notations {
    font-size: 15px;
    padding-top: 5%;
    padding-left: 10px;
    margin: 0;
    flex:1
}

.stars-notations {
    display: flex; 
    flex-direction: row; 
    margin: 0;
    padding: 10% 0 0 0;
    list-style: none;
}

.star-blue {
    font-size: 10px;
    color: #0065FC;
}

.star-grey {
    font-size: 10px;
    color: #deebff;
}

/* --------------------------------------------------------
                        Tablet Responsive
-------------------------------------------------------- */


@media only screen and (min-width: 600px) {

    .position-items-hosting {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .container-block-activity {
        display: flex;
        flex-direction: column;
    }

    .position-items-activity {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-footer {
        height: 200px;
        padding: 0px 20px 0px 20px;
    }

    .position-items-footer {
        flex-direction: row;
        padding-right: 20px;
    }

    .position-popular-description {
        padding: 5px 0px 0px 10px;
    }

    .notations {
        padding-top: 15px;
    }

    .stars-notations {
        padding: 0px 0 10px 0;
    }

   
}

/* --------------------------------------------------------
                        Desktop Responsive
-------------------------------------------------------- */

@media only screen and (min-width: 1400px) {
    
    .position-items-search {
        padding: 0px 50px 0px 40px
    }

    .container-block {
        display: none;
    }

    .container-block-popular{
        order: 1;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 30px;
        margin: 20px 40px 50px 0px;
        padding: 50px 50px 10px 50px 
    }

    .position-title-popular {
        width: 100%;
    }
    
    .position-items-popular {
        padding: 30px 0px 0px 0px;
        width: 100%;
    }

    .position-popular-description {
        padding: 0px 0px 0px 15px;
    }
    
    .container-block-hosting {
        order:0;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 30px;
        margin: 20px 50px 50px 40px;
        padding: 50px 50px 40px 50px 
    }

    .container-hosting-part {
        flex-direction: row;
    }

    .position-title-hosting {
        display: flex;
        flex-direction: row;
    }

    .position-items-hosting {
        flex-direction: row;
        padding: 30px 0px 0px 0px;
        width: 100%;
    }

    .position-title-hosting-end {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
    }

    .position-activity-responsive {
        flex-direction: row;
    }

    .container-block-activity{
        display: flex;
        flex-direction: column;
        height: 800px;
        margin: 40px 0px 0px 40px;
    }

    .position-items-activity {
        width: 100%;
        padding: 0;
        padding-top: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .container-footer {
        height: 200px;
        padding: 0px 40px 0px 50px;
    }

    .title-style {
        font-size: 25px;
    }
    
    .notations {
        font-size: 20px;
    }

    .notations-popular {
        font-size: 20px;
    }

    .price-notations {
        font-size: 18px;
        padding-top: 10px;
    }

    .stars-notations {
        padding: 30px 0 0 0;
    }

    .star-blue {
        font-size: 15px;
    }

    .star-grey {
        font-size: 15px;
    }

}
