
.header-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    margin: 20px 20px 20px 20px;
}
}

.logo-style {
    display: flex;
    align-items: flex-start;
    
}
.navabar-style {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navabar-list-style {
    list-style: none;
    padding: 0;
    display: flex;
}

.register-style {
    display: flex;
    align-items: flex-start;
}


